body {
    padding-top: 60px;
    background-color:#fff;
    background-image: url(/static/img/result-bg.png); background-repeat: repeat;
}

textarea {
    resize: vertical;
}

h2 {

	font-size: 45pt;
}

.searchbar {
	background-color: orange;

}